<div class="container push-top">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="light-well">
        <h2 class="page-header text-center">Edit <%= @gameplay.title %></h2>

            <%= render 'form' %>

      </div>
    </div>
  </div>
</div>
