<% content_for :page_title do %>
  <%  "Gameplay - Post a new Gameplay" %>
<% end %>

<% content_for :header_class do %>
  <%  "simple-header" %>
<% end %>




<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="light-well">
        <h2 class="page-header text-center">Post new Gameplay</h2>

            <%= render 'form' %>

      </div>
    </div>
  </div>
</div>
