<% content_for :page_title do %>
  <%  "About the sSs Clan" %>
<% end %>


<div class="row">
  <div class="col-sm-4">
      <h2>About the sSs Clan</h2>
      <p class="lead">

      </p>
  </div>

  <div class="col-sm-8 main-container " >
    <h1>History of the sSs Clan</h1>
      <br><br><br><br>
    <h1>The sSs Clan today</h1>
        <br><br><br><br>
        <h1>The sSs Clan future</h1>
            <br><br><br><br>
  </div>
</div>
